accelerate==0.25.0
ollama==0.4.7
nbformat==5.10.4
huggingface-hub==0.19.4
ipyfilechooser==0.6.0
llama-index==0.9.15
pymupdf==1.24.5
pypdf==3.17.3
transformers==4.36.2
bertopic==0.16.0
datasets==2.16.1
neo4j==5.28.1
langchain_core==0.3.51
chromadb==1.0.0
langchain==0.3.23
bitsandbytes==0.45.5
